<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		[v-cloak]{
			display: none;
		}
		.ul{
			list-style: none;
		}
		.ul li{
			height: 50px;
			text-align: center;
			line-height: 50px;
		}
	</style>
</head>
<body>
	<div id="box" class="container" v-cloak="">
		<!-- 头部 -->
		<div class="row" style="background: #ccc; margin: 0px">
		  <div class="col-md-2 col-md-offset-10 col-sm-2 col-sm-offset-10 col-xs-2 col-xs-offset-10" style="line-height: 60px">
		  	<button class="btn btn-info" data-toggle="modal" data-target="#myModal">购物车</button>
		  </div>
		</div>
		<!-- 内容 -->
		<div style="padding: 0 20px;border:1px solid #ccc;min-height: 600px">
			<!---->
			<div class="row">
				<div class="col-sm-6 col-md-4" v-for="i in arr">
					<div class="thumbnail">
						<div style="min-height: 200px;width: 100%;background: #ccc;">

						</div>
						<div class="caption" style="overflow: hidden;">
							<h3>{{i.n}}</h3>
							<p>价格{{i.j}}</p>
							<p>
								<button class="btn" style="float: right;" @click="insert_g_arr(i)">加入购物车</button>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!---->
		</div>
		<!-- 购物车 -->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">购物车</h4>
					</div>
					<div class="modal-body">
						 <div v-if="g_arr.length">
						 	<ul class="row ul">
						 		<li class="col-md-2 col-sm-2 col-xs-2">商品</li>
						 		<li class="col-md-2 col-sm-2 col-xs-2">价格</li>
						 		<li class="col-md-2 col-sm-2 col-xs-2">数量</li>
						 		<li class="col-md-2 col-sm-2 col-xs-2">小计</li>
						 		<li class="col-md-2 col-sm-2 col-xs-2">删除</li>
						 	</ul>
						 	<div>
						 		<div style="height: 280px; overflow-y: scroll;">
						 			<div v-for="i in c_g_arr" style="width: 97%;">
						 				<h4>{{i}}</h4>
							 			<ul class="row ul" v-for="a in g_arr" v-if="i == a.t">
									 		<li class="col-md-2 col-sm-2 col-xs-2">{{a.n}}</li>
									 		<li class="col-md-2 col-sm-2 col-xs-2">{{a.j}}</li>
									 		<li class="col-md-3 col-sm-3 col-xs-3">
									 			<span class="btn" @click="no2(a.uid)">-</span>
									 			{{a.s}}
									 			<span class="btn" @click="no1(a.uid)">+</span>
									 		</li>
									 		<li class="col-md-2 col-sm-2 col-xs-2">{{a.j*a.s}}</li>
									 		<li class="col-md-2 col-sm-2 col-xs-2"><button class="btn btn-danger" @click="no3(a.uid)">移除</button></li>
									 	</ul>
								 	</div>
						 		</div>
						 	</div>
						 	<div style="line-height: 60px;padding-bottom: 20px;text-align: right;padding-right: 50px;">
						 		总价：{{z_num}}
						 	</div>
						 </div>
						 <div v-else style="line-height: 150px;text-align: center;">
						 	购物车暂时没有数据
						 </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">支付</button>
					</div>
				</div>
			</div>
		</div>
		<!---->
	</div>


	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el:'#box',
			methods:{
				no1(uid){
				  //数量++
				  for(var i=0;i<this.g_arr.length;i++){
						if(this.g_arr[i].uid == uid){
							var num = this.g_arr[i].s
							num++
							this.$set(this.g_arr[i],'s',num)
						}
					}
				},
				no2(uid){
				  //数量--
				  for(var i=0;i<this.g_arr.length;i++){
						if(this.g_arr[i].uid == uid){
							var num = this.g_arr[i].s
							num--
							if(num<=0){
								num=1
							}
							this.$set(this.g_arr[i],'s',num)
						}
					}
				},
				no3(uid){
					// 移除
					for(var i=0;i<this.g_arr.length;i++){
						if(this.g_arr[i].uid == uid){
							this.g_arr.splice(i,1)
						}
					}
				},
				insert_g_arr(json){
					// 加入购物车
					var type = true;
					for(var i=0;i<this.g_arr.length;i++){
						if(this.g_arr[i].uid ==json.uid){
							type=false
							var num = this.g_arr[i].s
							num++
							this.$set(this.g_arr[i],'s',num)
						}
					}
					if(type){
						this.$set(json,'s',1)
						this.g_arr.push(json)
					}
				}
			},
			computed:{
				z_num(){
					var num = 0;
					for(var i=0;i<this.g_arr.length;i++){
						num+=this.g_arr[i].j*this.g_arr[i].s
					}
					return num
				},
				c_g_arr(){
					var arr = []
					for(var i=0;i<this.g_arr.length;i++){
						if(arr.indexOf(this.g_arr[i].t) == -1){
							arr.push(this.g_arr[i].t)
						}
					}
					return arr
				}
			},
			data:{
				g_arr:[],
				arr: [{
						uid: 0,
						n: '苹果',
						t: '水果',
						j: 10
					},
					{
						uid: 1,
						n: '雪梨',
						t: '水果',
						j: 5
					},
					{
						uid: 2,
						n: '衣柜',
						t: '家具',
						j: 999
					},
					{
						uid: 3,
						n: '立式衣架',
						t: '家具',
						j: 199
					},
					{
						uid: 4,
						n: '小米8',
						t: '电子产品',
						j: 2699
					},
					{
						uid: 5,
						n: '华为 pro30',
						t: '电子产品',
						j: 5499
					},
				]
			}
		})
	</script>
</body>
</html>